body {
  font-family: Roboto, Arial;
}

.hero {
  width: 100%;
  height: 75%;
  background:
    radial-gradient(ellipse at 0 0, #c074b2, rgba(0,0,0,0) 75%),
    radial-gradient(ellipse at 100% 0, #8ab5e8, rgba(0,0,0,0) 75%),
    #000000;

  position: relative;
  top: 0;
  left: 0;

  color: #FFF;
}

.hero nav {
  position: absolute;
  top: 0;
  left: 50%;

  width: 60%;
  transform: translateX(-50%);
  height: 50px;
}

nav h1 {
  font-size: 1.6em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

nav h1 .smaller {
  font-size: 0.75em;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

nav h1 .smaller:before {
  content: "\2009";
}

nav ul.navigation {
  position: absolute;
  right: 0;
}

nav ul.navigation li {
  display: inline-block;
  padding: 0 1em;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

ul.navigation li a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

ul.navigation .profile {
  position: relative;
}

ul.navigation .profile * {
  display: inline-block;
  padding: 0;
  margin:0;
}

ul.navigation .profile .fa-user {
    font-size: 0.85em;
    border: 2px solid #FFFFFF;
    padding: 0.5em;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

ul.navigation .profile div {
  position: absolute;
  left: 3.5em;
}

ul.navigation .profile div * {
  display: inline-block;
}

/* HERO INFO */

.hero .info {
  width: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: 'text albums';
}

.hero .info .text {
  grid-area: text;

  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero .info .text * {
  padding: 0.125em 0;
}

.hero .info .text h1 {
  font-size: 2.5em;
}

.hero .info .text p {
    font-size: 1.2em;
}

.info .albums {
  display: grid;

  grid-area: albums;
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  grid-template-rows: 50% 50%;
  grid-row-gap: 1em;
}

.info .album {
  background: blue;
  width: 15em;
  height: 15em;
}

.hero .info svg.fa-caret-down {
  position: absolute;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);

  font-size: 2em;
  width: 1em;
  height: 1em;
  border: 2px solid white;
  border-radius: 50%;
}

/* info */

.info {
  position: relative;
  width: 80%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.info h1 {
  font-size: 3em;
  font-weight: bold;

  padding: 1em 0;
}

.info .grid {
  display: grid;
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

.info article {
  padding: 0 3em 3em 0;
}

.info article * {
  padding: 2em 0;
}

.info article h2 {
  font-size: 1.5em;
  padding: 0;
  font-weight: bold;
}

.info article a {
  color: #1db954;
  text-decoration: none;
}

.info article a:not(.inner) {
  text-transform: uppercase;
  font-weight: bold;

  padding: 2em 0;
}


/* FOOTER */
footer {
  background: #000;
  width: 100%;
  height: 300px;

  color: #FFF;
}

footer section {
  width: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer .logo {
  font-size: 2.5em;
}

/* EXTRA */

.button.special {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  background: #1db954;

  position: relative;
  top: 2em;
  padding: 0.85em 3em;
  border-radius: 2em;
  width: 10em;
}
